@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@200&family=Parisienne&family=Tangerine&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.main-container {
    margin: 0 20%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgb(84, 84, 160);
    
}

header {
    margin-bottom: 30px;
    padding-top: 100px;
}

.side_right {
    /*display: block;*/
    position: fixed;
    /*float: right;*/
    width: 350px;
    height: 600px;
    background-color: rgb(219, 212, 183);
    right: 50px;
    top: 350px;
    border-radius: 10px;
}

.joke_container {
    background-color: rgb(214, 202, 155);
    height: 300px;
    margin: 180px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.joke {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 50px;
    font-weight: 900;
    font-size: 1.2rem;
}

.joke h3 {
    padding-bottom: 30px;
    font-size: 1.7rem;
}

.joke p {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    margin-bottom: 50px;
}

h1 {
    font-family: 'Italianno', cursive;
    color: rgb(228, 219, 182);
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 0.8rem;
    text-align: center;
}

.box {
    margin: 200px;
    height: 300px;
    background-color: rgb(60, 60, 119);
    border-radius: 20px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
}

.box.one {
    animation-name: box_one;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes box_one {
    0% {transform: translateX(-1500px);}
    100% {transform: translateX(0);}
}

.box.two {
    animation-name: box_two;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes box_two {
    0% {transform: translateX(1500px);}
    100% {transform: translateX(0);}
}

.title {
    color: cornsilk;
    text-align: center;
    font-size: 1.6rem;
    padding: 40px;
}

.results {
    color: cornsilk;
    text-align: center;
    line-height: 1.6;
}

.results {
    padding: 10px 100px;
}